$colors: (
	primary: #2f89fc,
	primary-light: #75b1ff,
	light: #f5f5f5,
	dark: #40514e,
	secondary: #30e3ca,
);

$desktop: 1040px;
$tablet: 650px;

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

@function color($color-name) {
	@return map-get($colors, $color-name);
}

.projects-overview {
	display: grid;
	grid-template-columns: 1fr;
	width: 98%;
	gap: 1em;

	@include desktop {
		width: 60%;
		margin: auto 1em;
	}
}
