$colors: (
	primary: #2f89fc,
	primary-light: #75b1ff,
	light: #f5f5f5,
	dark: #40514e,
	secondary: #30e3ca,
);

@function color($color-name) {
	@return map-get($colors, $color-name);
}

$desktop: 840px;
@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 600;
	height: 5vh;
	background-color: transparent;

	.nav-container {
		position: relative;
		padding: 35px;
		z-index: 1;
		height: 100%;
		display: flex;
		justify-content: space-between;

		.hamburger button {
			background-color: transparent;
			border: none;
		}
	}
}
