$colors: (
	primary: #2f89fc,
	primary-light: #75b1ff,
	light: #f5f5f5,
	dark: #40514e,
	secondary: #30e3ca,
);

@function color($color-name) {
	@return map-get($colors, $color-name);
}

$desktop: 840px;
@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

.homepage {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//   background-image: $background;
	clip-path: polygon(100% 0, 100% 56%, 47% 100%, 0 100%, 0 0);
	background-color: color(primary);
	color: map-get($colors, light);
	// z-index: -1;

	@include desktop {
		clip-path: polygon(0 0, 90% 0, 55% 100%, 0% 100%);
	}

	.hero {
		h1 {
			@include desktop {
				font-size: 4em;
			}
		}
		p {
			text-align: center;

			@include desktop {
				font-size: 2.5em;
			}
		}
	}
	.buttons {
		margin: 20px;
		display: flex;
	}
}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 2s
		cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.61, 0.355, 1)
		forwards;
}

@-webkit-keyframes tracking-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
		transform: translateZ(400px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes tracking-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
		transform: translateZ(400px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
